@charset "UTF-8";

/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.822);
    height: 100vh;
    font-family: "Kanit", sans-serif;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}

h2.titulo{
    color: white;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    
}

h2.titulo span{
    color: lightseagreen;
}

button:hover,form .btn-enviar input:hover{
    transform: scale(1.10);
    box-shadow: 0px 0px 8px lightseagreen;
}
/* ESTILO GERAL */


/* ESTILO DO CABEÇALHO */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: 0.50s;
}

header a:hover{
    color: lightseagreen;
    transform:scale(1.50);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
    font-size: 20px;
    position: relative;
    left: 240px;
}
/* ESTILO DO CABEÇALHO */



/* ESTILO DO TOPO DO SITE */
section.topo-site{
    padding: 40px 4%;
}

section.topo-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-site h1{
    color: white;
    font-size: 45px;
    font-family: "Kanit";
    text-align: center;
}

.topo-site .txt-topo-site p{
    color: white;
    margin: 40px 0;
}

.btn-contato h2{
    padding: 10px;
    font-size: 30px;
    font-weight: 600;
    background-color: lightseagreen;
    border: 0;
    border-radius: 20px;
    color: white;
    text-align: center;
}

 .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: lightseagreen;
    font-size: 25px;
    cursor: pointer;
    margin: 2px;
    transition: 0.5s;
    margin-top: 20px;
    margin-left: 10px;
}

.topo-site .img-topo-site img{
    position: relative;
    animation: flutuando 2s ease-in-out infinite alternate;
}

@keyframes flutuando{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}
/* ESTILO DO TOPO DO SITE */


/* ESTILO DAS HABILIDADES */
section.habilidades{
    padding: 40px 4%;
}

section.habilidades .flex{
    gap: 60px;
}

.habilidades .habilidades-box{
    color: white;
    padding: 40px;
    margin-bottom: 15px;
    margin-top: 45px;
    border-radius: 25px;
    transition: 0.50s;
}

.habilidades .habilidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(32, 178, 171, 0.513);
}

.habilidades .habilidades-box i{
    font-size: 40px;
    color: lightseagreen;
}

.habilidades .habilidades-box h3{
    font-size: 20px;
    margin: 10px 0;
}
/* ESTILO DAS HABILIDADES */


/* ESTILO DOS PROJETOS */
section.projetos{
    padding: 80px 5%;
    box-shadow: 0 0 40px rgba(32, 178, 171, 0.189);
}

section.projetos .flex{
    justify-content: space-around;
}

.img-port{
    width: 500px;
    height: 400px;
    background-size: cover;
    background-position: 60% 50%;
    border-radius: 30px;
    cursor: pointer;
    transition: 3s;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
    color:white;
    background-color: rgba(0, 0, 0, 0.794);
    opacity: 0;
    transition: 0.5s;
}

.overlay:hover{
    opacity: 1;
}
/* ESTILO DOS PROJETOS */


/* ESTILO FALE COMIGO */
section.formulario{
    padding: 50px 4%;
}

form{
    max-width: 500px;
    margin:0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.326);
    border: none;
    outline: none;
    padding: 20px 15px;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}

form textarea{
    resize: none;
    max-height: 200px;
    padding: 45px 15px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.326);
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 200px;
    background-color: lightseagreen;
    color:white;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;
}
/* ESTILO FALE COMIGO */


/* ESTILO DO RODAPÉ */
footer{
    padding: 60px 6%;
    box-shadow: 0px 0px 8px lightseagreen;
}

footer .linha-footer p i{
    color: lightseagreen;
    font-size: 25px;
    margin-left: 20px;
}

footer .linha-footer p a{
    color:white;
    margin: 10px;
    margin-left: 10px;
}
/* ESTILO DO RODAPÉ */


/* CONFIGURAÇÃO DE RESPONSIVIDADE */
@media screen and (max-width:900px) {
    /* CLASSES GERAIS */
    .flex{
        flex-direction: column;
    }

    h2.titulo{
        line-height: 45px;
    }

    .btn-social{
        text-align: center;
    }
    /* CLASSES GERAIS */


    /* CABEÇALHO */
    .menu-desktop{
        display: none;
    }
    /* CABEÇALHO */

    
    /* TOPO DO SITE */
    .topo-site h1{
        font-size: 32px;
    }
    .topo-site .img-topo-site img{
        width: 110%;
        margin-right: 30px;
    }
    /* TOPO DO SITE  .txt-topo-site .btn-contato */

    /* ESTILO DAS HABILIDADES */
    section.habilidades{
        padding: 40px 8%;
        font-size: 25px;
        font-weight: bolder;
    }

    /* ESTILO PORTIFOLIO */
    section.projetos{
    padding: 80px 5%;
    border-radius: 20px;
    }
    .img-port{
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    }   
    /* RODAPÉ */

    footer .linha-footer{
    text-align: center;
    }
}