@charset "UTF-8";

/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.846);
    height: 100vh;
    font-family: "Kanit", sans-serif;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}

h2.titulo{
    color: white;
    font-size: 40px;
    text-align: center;
}

h2.titulo span{
    color: lightseagreen;
}
/* ESTILO GERAL */



/* ESTILO DO CABEÇALHO */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: 0.50s;
}

header a:hover{
    color: lightseagreen;
    transform:scale(1.50);
}

header nav ul{
    list-style-type: none;
    justify-content: center;
    text-align: center;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
    font-size: 20px;
}
/* ESTILO DO CABEÇALHO */



/* ESTILO DO TOPO DO SITE */
section.topo-site{
    padding: 40px 4%;
}

section.topo-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-site h1{
    color: white;
    font-size: 45px;
}

.topo-site .txt-topo-site p{
    color: white;
    margin: 40px 0;
}

.btn-contato button{
    padding: 12px;
    font-size: 20px;
    font-weight: 600;
    background-color: lightseagreen;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.50s;
    color: white;
}

.btn-contato button:hover{
    transform: scale(1.10);
}

.topo-site .img-topo-site img{
    position: relative;
    animation: flutuando 2s ease-in-out infinite alternate;
}

@keyframes flutuando{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}
/* ESTILO DO TOPO DO SITE */


/* ESTILO DAS HABILIDADES */
section.habilidades{
    padding: 40px 4%;
}

section.habilidades .flex{
    gap: 60px;
}

.habilidades .habilidades-box{
    color: white;
    padding: 40px;
    margin-top: 45px;
    border-radius: 25px;
    transition: 0.50s;
}

.habilidades .habilidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(32, 178, 171, 0.513);
}

.habilidades .habilidades-box i{
    font-size: 40px;
    color: lightseagreen
}

.habilidades .habilidades-box h3{
    font-size: 30px;
    margin: 15px 0;
}